
/* !core styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* !header */

.logo img {
    width: 150px;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 100px;
    background: yellow;
    
}

.search-bar input {
    height: 30px;
    width: 250px;
    margin-top: 30px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}