
/* !core styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: tahoma;
}

h1 {
    font-family: "Copperplate Gothic Light", fantasy;
    font-weight: 400;
}
h3 {
    font-family: "Copperplate Gothic Light", fantasy;
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--primary);
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

:root{
    --primary: #1C243C;
    --yellow: #E8E11C;
    --red: #5E0101;
    --grey: #8A8A9C;
    --border: #40C2D3;
    --incon-size: 1.4rem;
} 

/* !header */

.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    background: var(--yellow);
    padding: 5px;
    /* justify-items: center; */
}

/* logo */

.logo img {
    width: 130px;
}

.logo {
    display: flex;
    justify-content: center;
}

/* search bar */

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 70%;
    height: 25px;
    outline: none;
}

.search-bar a {
    position: relative;
    right: 27px;
    font-size: var(--incon-size);
}

/* menu list */

.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-right: 50px;
}

.menu li {
    text-align: center;
}

.menu ul a {
    font-size: var(--incon-size);
    padding: 3px 6px;
    width: 100px;
}

.menu ul a:hover {
    background: var(--primary);
    color: #fff;
    border: 1.5px solid var(--border);
    border-radius: 15px;
}

.menu i {
    margin-right: 5px;
}

/* hamburger */

#hamburger {
    display: none;
    margin-left: 45px;
}

#hamburger i {
    font-size: 2.4rem;
}

#hamburger a:hover {
    opacity: .6;
    
}

/* !media Queries */

@media (max-width: 800px) {
    #hamburger {
        display: flex;
        justify-content: center;
    }
    .menu ul{
        display: none;
    }
    .search-bar {
        width: 150%;
    }
    .search-bar input {
        width: 70%;
    }
}